{% extends './partials/layout.njk' %}
{% set pageTitle = 'Styleguide | ' + config.projectName %}

{% block content %}

  <div class="docs-wrapper docs-main-section">
    <div class="docs-content">
      <h1 class="docs-section-heading">{{ config.projectName }} | styleguide</h1>

      <p class="docs-perex">
        Tento styleguide slouží k efektivnější práci s frontendem. Najdete zde veškeré důležité podklady, jejich dokumentaci i nástroje, které napomáhají jasněji spolu komunikovat, odhalovat nedostatky a zejména udržet přehled o projektu. Zkrátka, tento styleguide přispívá k tomu, aby celý frontend byl SUPER.
      </p>

      <p>
        Na levém boku je ovládací panel, který je rozdělen na 2 části:
      </p>

      <ol>
        <li>
          <h6>Nástroje</h6>
          <ul>
            <li>
              <strong>Pin nav</strong> - přichytí panel na místě, aby nezajížděl za okraj.
            </li>
            {% if config.settings.gridView %}
              <li>
                <strong>Grid view</strong> - tímto se přepíná grafická mřížka, kterou v návrhu vybral designér. Slouží ke kontrole správného zarovnání.
              </li>
            {% endif %}
            {% if config.settings.debugView %}
              <li>
                <strong>Debug view</strong> - zvýrazní elementy, které mohou obsahovat nějaký problém a potřebují zkontrolovat.
              </li>
            {% endif %}
          </ul>
        </li>
        <li>
          <h6>Dokumentace</h6>
          <p>Část dokumentace je generovaná automaticky (bílé pozadí), zbytek vychází z dat od uživatele (šedé pozadí).</p>
          <ul>
            <li>
              <strong>O styleguidu</strong> - tato infomační stránka
            </li>
            <li>
              <strong>Ikony</strong> - přehled ikon, včetně návodu, jak s nimi pracovat
            </li>
						{% if config.projectMetaComponents %}
							<li>
								<strong>Meta Komponenty</strong> - základní stavební bloky, které se prolínají napříč webem. Specifikace, jak se s tím má zacházet.
							</li>
						{% endif %}
						{% if config.componentsFolder %}
							<li>
								<strong>Komponenty</strong> - seznam komponent, jejich stavy, možnosti a informace
							</li>
						{% endif %}
						{% if config.docs.changelog %}
							<li>
								<strong>Šablony</strong> - seznam hotových šablon
							</li>
						{% endif %}
          </ul>
        </li>
      </ol>
    </div>
  </div>

{% endblock %}
