{% extends './partials/layout.njk' %}
{% set pageTitle = 'Components Docs | ' + config.projectName %}

{% block content %}

<div class="docs-main-section">
	<div class="docs-wrapper">
		<h1 class="docs-section-heading">Components Docs</h1>

		{# {{ config.componentObjectList | dump }} #}
	</div>
</div>

{% endblock %}
