{% extends './partials/layout.njk' %}
{% set pageTitle = 'Ikony | ' + config.projectName %}

{% block content %}

<div class="docs-main-section">
  {# TODO: when included html contains njk snippets, it won't build. We need to find a way how to escape nunjucks special characters. Input is user generated, so we need to make it fool-proof.
  #}

  {% if config.docs.icons %}
    <div class="docs-user-content">
        <div class="docs-wrapper">
          <h1 class="docs-section-heading">Ikony</h1>
          {% if userIconDocsName %}
            {% include './userDocs/' + userIconDocsName + '.html' %}
          {% else %}
            <p>Je nám líto, ale zadaná cesta <code>{{ config.docs.icons }}</code> k dokumentaci je nesprávná. Upravte cestu nebo soubor.</p>
          {% endif %}
      </div>
    </div>
  {% endif %}

  <div class="docs-wrapper">
    <div class="docs-content docs-wysiwyg">
      <h3>Dostupné ikony</h3>
    </div>
    <div class="docs-icons">
      {% if noIcons %}
        <p>Složka s SVG ikonami je zatím prázdná. Až přibudou, objeví se tady.</p>
      {% endif %}
      {% for item in extractedIcons %}
        <div class="docs-icons__icon">
          {{ iconSVG(item) }}
          <p class="docs-icons__label">
            {{ item }}
          </p>
        </div>
      {% endfor %}
    </div>
  </div>

</div>

{% endblock %}
