{% extends './partials/layout.njk' %}
{% set pageTitle = 'Šablony | ' + config.projectName %}

{% block content %}

<div class="docs-wrapper docs-main-section">
  <div class="docs-content">
    <h1 class="docs-section-heading">Šablony</h1>

    <p class="docs-perex">
      Tady je seznam všech šablon, které jsme pro vás vytvořili.
    </p>

    <ul class="js-nav-iframe">
      {% for item in config.projectFiles %}
        <li>
          <!--<a href="{{ relativeDest }}{{ item }}">{{ item }}</a>-->
          <p>{{ item }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
