.docs-user-content { // nested in docs-user-folder, because we need to increase specificity of this very folder, while we know it will be always inside it
  .cg-category {
    &__title {
      border-top: 1px solid $colorBorder;
      padding-top: $spacingLg;
    }
  }

  .cg-subcategory {
    &__title {
      //
    }
  }

  .cg-ruleset {
    &__title {
      //
    }
    &__inner {
      display: flex;
    }
    &__content {
      flex: 0 0 50%;
      padding-right: $spacingLg;
    }
    &__list {
      padding-left: 0;
      margin-bottom: $spacingMd;
    }
    &__snippet-wrapper {
			flex: 0 0 50%;
			max-width: 50%;
      display: flex;
      flex-direction: column;
    }
    &__snippet {
      position: relative;
      min-height: 100px;
      margin: 0;
      &::after {
        position: absolute;
        top: 35px;
        right: -50px;
        transform: rotate(90deg);
        width: 80px;
        text-align: center;
        padding: 4px 8px;
        border-radius: 2px 2px 0 0;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        color: $colorTextInverse;
      }
      pre[class*="language-"] {
        min-height: 100px;
        margin: 0;
        border-color: $colorBorder;
      }
      &.is-correct {
        &::after {
          content: 'Correct';
          background: $colorSuccess;
        }
      }
      &.is-wrong {
        &::after {
          content: 'Wrong';
          background: $colorError;
        }
      }
      + .cg-ruleset__snippet {
        margin-top: 20px;
      }
    }
  }
}
