.docs-icons {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px $spacingLg;
  &__icon {
    flex: 0 0 8.333%;
    padding: 20px 10px;
    overflow: hidden;
  }
  &__label {
    margin-top: $spacingSm;
    text-align: center;
    font-size: 0.9em;
  }
  .icon-svg {
    display: block;
    text-align: center;
  }
  .icon-svg__svg {
    max-width: 30px;
    max-height: 30px;
  }
}
