.nav-accordion__toggle {
	position: relative;
	cursor: pointer;
	.nav__list li & {
		padding: 12px 16px 12px 31px;
		margin-left: -15px;
	}
	&::after {
		content: '';
		display: block;
		cursor: pointer;
    position: absolute;
		top: 50%;
		margin-top: -6px;
    right: 10px;
    width: 12px;
    height: 12px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 12px 12px;
		background-image: url(svg-inline('
			<svg viewBox="0 0 24 24">
				<path fill="#{$colorTextMuted}" d="M12 19.5a2.3 2.3 0 01-1.729-.78L.46 7.568a1.847 1.847 0 012.773-2.439l8.579 9.752a.25.25 0 00.376 0l8.579-9.752a1.847 1.847 0 112.773 2.439l-9.808 11.148A2.31 2.31 0 0112 19.5z"/>
			</svg>
		'));
		transition: transform 0.15s ease-in;
	}

	.js-nav-accordion.is-active > & {
		@include navActive;
		color: #111;
		background: #d5d5d5;

		&::after {
			transform: rotate(180deg);
		}
	}
}

.js {
	.js-nav-accordion {
		.js-nav-accordion__content {
			display: none;
		}
		&.is-active > .js-nav-accordion__content {
			display: block;
		}
	}
}
