.nav {
	@include navTransform;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	padding-bottom: 43px;
	// padding-bottom: 66vh;
	width: $navWidth;
	overflow-y: scroll;
	overflow-x: hidden; // because of scrollbar, it was causing horizontal scroll
	font-size: 14px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
	z-index: 99999998;
	@include themify($themes) {
		background: themed('navBgColor');
		color: themed('navColor');
	}
	&__bg {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: $navWidth;
		z-index: -1;
		@include themify($themes) {
			background: themed('navBgColor');
		}
	}
	.h2 {
		margin-bottom: 0;
		padding: 10px;
		font-size: 28px;
		@include themify($themes) {
			border-bottom: 1px solid themed('navBorderColor');
		}
	}
	&__logo {
		display: flex;
		margin-bottom: 20px;
		min-height: 157px;
	}
	&__logo-img {
		padding: 30px 20px 10px;
		width: 80%;
		max-height: 157px;
		max-width: 300px;
		margin: 0 auto;
		display: block;
		align-self: center;
	}
	&__list {
		padding-left: 0;
		list-style-type: none;
		margin-top: 0;
		@include themify($themes) {
			border-top: 1px solid themed('navBorderColor');
		}
		h3 {
			padding: 0 10px;
		}
		li {
			margin: 0;
			padding: 0;
			background: none;
			@include themify($themes) {
				border-bottom: 1px solid themed('navBorderColor');
			}
			p {
				display: block;
				padding: 12px 16px;
				margin: 0;
				@include themify($themes) {
					background: themed('navBackgroundAlt');
				}
			}
			> ul li {
				@include themify($themes) {
					background: themed('navBackgroundAlt');
				}
			}
			a {
				display: block;
				padding: 12px 16px 12px 31px;
				margin-left: -15px;
				text-decoration: none;
				@include themify($themes) {
					color: themed('navColor');
				}
				&.is-active {
					@include navActive;
				}
				&.is-disabled {
					color: $colorTextMuted;
					pointer-events: none;
				}
			}
			ul {
				padding-left: 0;
				li {
					list-style-type: none;
					padding-left: $spacingSm;
					@include themify($themes) {
						border-bottom: 0;
						border-top: 1px solid themed('navBorderColor');
					}
					ul li {
						margin-left: -15px;
					}
				}
			}
		}
	}
	&__sk-logo-wrapper {
		@include navTransform;
		position: fixed;
		bottom: 0;
		left: 0;
		width: $navWidth;
		z-index: 99999999;
		@include themify($themes) {
			background: themed('navBgColor');
		}
		&::after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: -20px;
			height: 20px;
			@include themify($themes) {
				// background: linear-gradient(0deg, themed('navBgColor') 50%, transparent);
				background: themed('navBgColor');
				border-top: 1px solid $colorBorder;
			}
		}
	}

	&__sk-logo {
		max-width: 75%;
		display: block;
		margin: 0 auto;
		opacity: 0.5;
		padding: 0 20px 20px;
		background-repeat: no-repeat;
		background-position: center top;

		.theme--light & {
			background-image: url('data:image/svg+xml;utf8,%3Csvg viewBox="0 0 1000 63" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M958.875 47.878a2.022 2.022 0 0 1-.706-3.918l34.028-12.707-34.028-12.708a2.024 2.024 0 0 1-1.188-2.602 2.027 2.027 0 0 1 2.6-1.188l39.104 14.602a2.024 2.024 0 1 1 0 3.791L959.581 47.75a2.005 2.005 0 0 1-.706.13M41.125 14.63c.82 0 1.59.504 1.893 1.317a2.022 2.022 0 0 1-1.185 2.6L7.8 31.257l34.033 12.708a2.021 2.021 0 0 1 1.185 2.6 2.026 2.026 0 0 1-2.599 1.19L1.315 33.15a2.021 2.021 0 0 1 0-3.79L40.419 14.76a2.01 2.01 0 0 1 .706-.13M81.81 53.868c-.43-.347-.863-.949-.863-1.727 0-1.208 1.035-2.245 2.245-2.245.604 0 1.122.261 1.466.52 6.044 5.438 12.086 7.854 20.374 7.854 9.064 0 15.28-5.093 15.28-11.998v-.174c0-6.387-3.368-10.1-17.093-12.863-14.503-2.934-20.373-7.855-20.373-17.006v-.173c0-8.978 8.201-15.884 19.423-15.884 8.115 0 13.726 2.073 19.251 6.216.432.345.95.95.95 1.813 0 1.208-1.036 2.245-2.244 2.245a2.35 2.35 0 0 1-1.468-.518c-5.267-4.057-10.53-5.698-16.66-5.698-8.893 0-14.763 5.093-14.763 11.395v.172c0 6.388 3.28 10.275 17.61 13.21 13.985 2.848 19.856 7.853 19.856 16.66v.173c0 9.755-8.374 16.488-20.028 16.488-9.065 0-16.144-2.849-22.963-8.46M153.148 36.344V2.934c0-1.208 1.036-2.243 2.244-2.243 1.208 0 2.245 1.035 2.245 2.244v32.977c0 14.245 7.683 22.445 20.46 22.445 12.257 0 20.114-7.423 20.114-22.013V2.934c0-1.208 1.035-2.243 2.243-2.243 1.21 0 2.245 1.035 2.245 2.244v32.89c0 17.352-10.1 26.589-24.776 26.589-14.503 0-24.775-9.151-24.775-26.07M237.04 3.281c0-1.208 1.035-2.246 2.243-2.246h19.683c13.295 0 22.443 6.821 22.443 18.475v.173c0 12.69-10.96 19.252-23.566 19.252h-16.315v20.631c0 1.208-1.037 2.244-2.245 2.244-1.208 0-2.244-1.036-2.244-2.244V3.281zm21.063 31.508c11.222 0 18.818-5.869 18.818-14.847v-.173c0-9.583-7.424-14.589-18.3-14.589h-17.093v29.609h16.575zM313.953 59.22V3.28c0-1.207 1.035-2.244 2.245-2.244h39.018c1.123 0 2.072.949 2.072 2.073 0 1.122-.949 2.07-2.072 2.07h-36.775v23.74h32.891c1.122 0 2.072.95 2.072 2.073s-.95 2.072-2.072 2.072h-32.89v24.258h37.207c1.121 0 2.072.949 2.072 2.072 0 1.12-.95 2.072-2.072 2.072H316.2c-1.21 0-2.246-1.037-2.246-2.245M392.008 3.281c0-1.208 1.035-2.246 2.245-2.246h23.135c7.424 0 13.38 2.332 17.006 5.957 2.847 2.849 4.574 6.907 4.574 11.223v.173c0 10.101-7.509 15.885-17.695 17.267l17.178 22.27c.431.519.69 1.036.69 1.555 0 1.207-1.12 2.33-2.33 2.33-.863 0-1.469-.518-1.986-1.209l-18.56-24.171h-19.769v23.136c0 1.208-1.035 2.244-2.243 2.244-1.21 0-2.245-1.036-2.245-2.244V3.281zm24.861 29.092c10.1 0 17.611-5.093 17.611-13.812v-.173c0-8.115-6.389-13.208-17.35-13.208h-20.634v27.193h20.373zM476.002 2.935c0-1.208 1.034-2.245 2.243-2.245 1.21 0 2.245 1.037 2.245 2.245v37.812l38.155-39.365c.346-.346.864-.692 1.556-.692 1.12 0 2.243 1.122 2.243 2.245 0 .604-.258 1.123-.69 1.554l-23.05 23.222 24.604 30.128c.432.517.692.95.692 1.64 0 1.208-1.124 2.331-2.332 2.331-.778 0-1.381-.43-1.726-.864l-24.433-30.04-15.02 15.193v13.466c0 1.208-1.034 2.245-2.243 2.245-1.21 0-2.244-1.037-2.244-2.245V2.935zM549.35 31.423v-.172C549.35 14.76 561.525 0 579.826 0c18.3 0 30.299 14.589 30.299 31.078v.172c0 16.488-12.17 31.25-30.471 31.25-18.302 0-30.302-14.59-30.302-31.078m56.113 0v-.172c0-14.934-10.878-27.192-25.811-27.192-14.935 0-25.64 12.084-25.64 27.02v.172c0 14.934 10.878 27.192 25.812 27.192 14.934 0 25.639-12.084 25.639-27.02M641.175 3.281c0-1.208 1.035-2.246 2.244-2.246h17.87c18.99 0 32.113 13.038 32.113 30.043v.172c0 17.007-13.122 30.215-32.113 30.215h-17.87c-1.21 0-2.244-1.036-2.244-2.243V3.281zm20.114 54.042c16.832 0 27.45-11.484 27.45-25.901v-.172c0-14.329-10.618-26.07-27.45-26.07h-15.626v52.143h15.626zM725.142 59.22V3.28c0-1.207 1.035-2.244 2.245-2.244h39.019c1.122 0 2.07.949 2.07 2.073 0 1.122-.948 2.07-2.07 2.07H729.63v23.74h32.89c1.124 0 2.073.95 2.073 2.073s-.95 2.072-2.072 2.072H729.63v24.258h37.208c1.12 0 2.072.949 2.072 2.072 0 1.12-.951 2.072-2.072 2.072h-39.451c-1.21 0-2.245-1.037-2.245-2.245M803.197 3.281c0-1.208 1.035-2.246 2.244-2.246h23.136c7.424 0 13.38 2.332 17.006 5.957 2.847 2.849 4.574 6.907 4.574 11.223v.173c0 10.101-7.51 15.885-17.696 17.267l17.178 22.27c.432.519.691 1.036.691 1.555 0 1.207-1.12 2.33-2.33 2.33-.864 0-1.469-.518-1.986-1.209l-18.56-24.171h-19.769v23.136c0 1.208-1.035 2.244-2.244 2.244-1.209 0-2.244-1.036-2.244-2.244V3.281zm24.86 29.092c10.102 0 17.612-5.093 17.612-13.812v-.173c0-8.115-6.389-13.208-17.35-13.208h-20.634v27.193h20.372zM880.751 53.868c-.433-.347-.864-.949-.864-1.727 0-1.208 1.037-2.245 2.244-2.245.605 0 1.123.261 1.468.52 6.042 5.438 12.087 7.854 20.373 7.854 9.064 0 15.279-5.093 15.279-11.998v-.174c0-6.387-3.365-10.1-17.092-12.863-14.504-2.934-20.373-7.855-20.373-17.006v-.173c0-8.978 8.201-15.884 19.424-15.884 8.113 0 13.725 2.073 19.25 6.216.431.345.95.95.95 1.813 0 1.208-1.036 2.245-2.246 2.245a2.348 2.348 0 0 1-1.466-.518c-5.265-4.057-10.532-5.698-16.66-5.698-8.892 0-14.762 5.093-14.762 11.395v.172c0 6.388 3.279 10.275 17.61 13.21 13.984 2.848 19.855 7.853 19.855 16.66v.173c0 9.755-8.375 16.488-20.028 16.488-9.065 0-16.144-2.849-22.962-8.46"/%3E%3C/svg%3E');
		}

		.theme--dark & {
			background-image: url('data:image/svg+xml;utf8,%3Csvg viewBox="0 0 1000 63" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill="%233cdbc0" d="M958.875 47.878a2.022 2.022 0 0 1-.706-3.918l34.028-12.707-34.028-12.708a2.024 2.024 0 0 1-1.188-2.602 2.027 2.027 0 0 1 2.6-1.188l39.104 14.602a2.024 2.024 0 1 1 0 3.791L959.581 47.75a2.005 2.005 0 0 1-.706.13M41.125 14.63c.82 0 1.59.504 1.893 1.317a2.022 2.022 0 0 1-1.185 2.6L7.8 31.257l34.033 12.708a2.021 2.021 0 0 1 1.185 2.6 2.026 2.026 0 0 1-2.599 1.19L1.315 33.15a2.021 2.021 0 0 1 0-3.79L40.419 14.76a2.01 2.01 0 0 1 .706-.13M81.81 53.868c-.43-.347-.863-.949-.863-1.727 0-1.208 1.035-2.245 2.245-2.245.604 0 1.122.261 1.466.52 6.044 5.438 12.086 7.854 20.374 7.854 9.064 0 15.28-5.093 15.28-11.998v-.174c0-6.387-3.368-10.1-17.093-12.863-14.503-2.934-20.373-7.855-20.373-17.006v-.173c0-8.978 8.201-15.884 19.423-15.884 8.115 0 13.726 2.073 19.251 6.216.432.345.95.95.95 1.813 0 1.208-1.036 2.245-2.244 2.245a2.35 2.35 0 0 1-1.468-.518c-5.267-4.057-10.53-5.698-16.66-5.698-8.893 0-14.763 5.093-14.763 11.395v.172c0 6.388 3.28 10.275 17.61 13.21 13.985 2.848 19.856 7.853 19.856 16.66v.173c0 9.755-8.374 16.488-20.028 16.488-9.065 0-16.144-2.849-22.963-8.46M153.148 36.344V2.934c0-1.208 1.036-2.243 2.244-2.243 1.208 0 2.245 1.035 2.245 2.244v32.977c0 14.245 7.683 22.445 20.46 22.445 12.257 0 20.114-7.423 20.114-22.013V2.934c0-1.208 1.035-2.243 2.243-2.243 1.21 0 2.245 1.035 2.245 2.244v32.89c0 17.352-10.1 26.589-24.776 26.589-14.503 0-24.775-9.151-24.775-26.07M237.04 3.281c0-1.208 1.035-2.246 2.243-2.246h19.683c13.295 0 22.443 6.821 22.443 18.475v.173c0 12.69-10.96 19.252-23.566 19.252h-16.315v20.631c0 1.208-1.037 2.244-2.245 2.244-1.208 0-2.244-1.036-2.244-2.244V3.281zm21.063 31.508c11.222 0 18.818-5.869 18.818-14.847v-.173c0-9.583-7.424-14.589-18.3-14.589h-17.093v29.609h16.575zM313.953 59.22V3.28c0-1.207 1.035-2.244 2.245-2.244h39.018c1.123 0 2.072.949 2.072 2.073 0 1.122-.949 2.07-2.072 2.07h-36.775v23.74h32.891c1.122 0 2.072.95 2.072 2.073s-.95 2.072-2.072 2.072h-32.89v24.258h37.207c1.121 0 2.072.949 2.072 2.072 0 1.12-.95 2.072-2.072 2.072H316.2c-1.21 0-2.246-1.037-2.246-2.245M392.008 3.281c0-1.208 1.035-2.246 2.245-2.246h23.135c7.424 0 13.38 2.332 17.006 5.957 2.847 2.849 4.574 6.907 4.574 11.223v.173c0 10.101-7.509 15.885-17.695 17.267l17.178 22.27c.431.519.69 1.036.69 1.555 0 1.207-1.12 2.33-2.33 2.33-.863 0-1.469-.518-1.986-1.209l-18.56-24.171h-19.769v23.136c0 1.208-1.035 2.244-2.243 2.244-1.21 0-2.245-1.036-2.245-2.244V3.281zm24.861 29.092c10.1 0 17.611-5.093 17.611-13.812v-.173c0-8.115-6.389-13.208-17.35-13.208h-20.634v27.193h20.373zM476.002 2.935c0-1.208 1.034-2.245 2.243-2.245 1.21 0 2.245 1.037 2.245 2.245v37.812l38.155-39.365c.346-.346.864-.692 1.556-.692 1.12 0 2.243 1.122 2.243 2.245 0 .604-.258 1.123-.69 1.554l-23.05 23.222 24.604 30.128c.432.517.692.95.692 1.64 0 1.208-1.124 2.331-2.332 2.331-.778 0-1.381-.43-1.726-.864l-24.433-30.04-15.02 15.193v13.466c0 1.208-1.034 2.245-2.243 2.245-1.21 0-2.244-1.037-2.244-2.245V2.935zM549.35 31.423v-.172C549.35 14.76 561.525 0 579.826 0c18.3 0 30.299 14.589 30.299 31.078v.172c0 16.488-12.17 31.25-30.471 31.25-18.302 0-30.302-14.59-30.302-31.078m56.113 0v-.172c0-14.934-10.878-27.192-25.811-27.192-14.935 0-25.64 12.084-25.64 27.02v.172c0 14.934 10.878 27.192 25.812 27.192 14.934 0 25.639-12.084 25.639-27.02M641.175 3.281c0-1.208 1.035-2.246 2.244-2.246h17.87c18.99 0 32.113 13.038 32.113 30.043v.172c0 17.007-13.122 30.215-32.113 30.215h-17.87c-1.21 0-2.244-1.036-2.244-2.243V3.281zm20.114 54.042c16.832 0 27.45-11.484 27.45-25.901v-.172c0-14.329-10.618-26.07-27.45-26.07h-15.626v52.143h15.626zM725.142 59.22V3.28c0-1.207 1.035-2.244 2.245-2.244h39.019c1.122 0 2.07.949 2.07 2.073 0 1.122-.948 2.07-2.07 2.07H729.63v23.74h32.89c1.124 0 2.073.95 2.073 2.073s-.95 2.072-2.072 2.072H729.63v24.258h37.208c1.12 0 2.072.949 2.072 2.072 0 1.12-.951 2.072-2.072 2.072h-39.451c-1.21 0-2.245-1.037-2.245-2.245M803.197 3.281c0-1.208 1.035-2.246 2.244-2.246h23.136c7.424 0 13.38 2.332 17.006 5.957 2.847 2.849 4.574 6.907 4.574 11.223v.173c0 10.101-7.51 15.885-17.696 17.267l17.178 22.27c.432.519.691 1.036.691 1.555 0 1.207-1.12 2.33-2.33 2.33-.864 0-1.469-.518-1.986-1.209l-18.56-24.171h-19.769v23.136c0 1.208-1.035 2.244-2.244 2.244-1.209 0-2.244-1.036-2.244-2.244V3.281zm24.86 29.092c10.102 0 17.612-5.093 17.612-13.812v-.173c0-8.115-6.389-13.208-17.35-13.208h-20.634v27.193h20.372zM880.751 53.868c-.433-.347-.864-.949-.864-1.727 0-1.208 1.037-2.245 2.244-2.245.605 0 1.123.261 1.468.52 6.042 5.438 12.087 7.854 20.373 7.854 9.064 0 15.279-5.093 15.279-11.998v-.174c0-6.387-3.365-10.1-17.092-12.863-14.504-2.934-20.373-7.855-20.373-17.006v-.173c0-8.978 8.201-15.884 19.424-15.884 8.113 0 13.725 2.073 19.25 6.216.431.345.95.95.95 1.813 0 1.208-1.036 2.245-2.246 2.245a2.348 2.348 0 0 1-1.466-.518c-5.265-4.057-10.532-5.698-16.66-5.698-8.892 0-14.762 5.093-14.762 11.395v.172c0 6.388 3.279 10.275 17.61 13.21 13.984 2.848 19.855 7.853 19.855 16.66v.173c0 9.755-8.375 16.488-20.028 16.488-9.065 0-16.144-2.849-22.962-8.46"/%3E%3C/svg%3E');
		}
	}

	// STATEs
	&:hover,
	&:focus,
	&:hover + .nav__sk-logo-wrapper,
	&:focus + .nav__sk-logo-wrapper,
	.pin-nav &,
	.pin-nav & + .nav__sk-logo-wrapper {
		transform: translateX(0);
		opacity: 1;
	}
}
