{# extend snippet with project styles and scripts #}
{# todo: dynamic paths #}
<!DOCTYPE html>
<html lang="cs" class="js">
	<head>
		<meta charset="utf-8">
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>{{ pageTitle }}</title>
		<link rel="stylesheet" href="../../../../css/style.css" media="screen">
	</head>
	<body>

		{% block content %}{% endblock %}
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
		<script src="../../../../js/app.js"></script>
	</body>
</html>
