@mixin navActive {
	font-weight: bold;
	color: #fff;
	background: #000;
}

@mixin themify($themes: $themes) {
	@each $theme,
	$map in $themes {
		.theme--#{$theme} & {
			$theme-map: () !global;
			@each $key,
			$submap in $map {
				$value: map-get(map-get($themes, $theme), '#{$key}');
				$theme-map: map-merge($theme-map, ($key: $value)) !global;
			}
			@content;
			$theme-map: null !global;
		}
	}
}

@function themed($key) {
	@return map-get($theme-map, $key);
}

@mixin navTransform {
	transform: translateX(-93%);
	transition: all 0.15s linear;
	opacity: 0;
}

@mixin vishid {
	position: absolute;
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

/// Original source: https://codepen.io/jakob-e/pen/doMoML

@function str-replace($string, $search, $replace: '') {
	$index: str-index($string, $search);

	@if $index {
	  @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
  }

  @function str-last-index($string, $substr) {
	$index: null;
	$length: str-length($string);
	@for $n from $length through 1 {
	  $index: str-index(str-slice($string, $n, $length), $substr);
	  @if $index { @return $index + $n - 1; }
	}
	@return $index;
  }

  @function str-trim($str) {
	$str: str-replace($str, '\a', '\0020'); // SASS converts line breaks into this
	$str: str-replace($str, '\000A', '\0020'); // New line
	$str: str-replace($str, '\000D', '\0020'); // Carriage Return
	$str: str-replace($str, '\0009', '\0020'); // tabs to spaces

	@while (str-index($str, '\0020') == 1)  {
	  $str: "#{str-slice($str, 2)}";
	}

	@while (str-last-index($str, '\0020') == str-length($str)) {
	  $str: "#{str-slice($str, 1, str-length($str) - 1)}";
	}

	@return $str;
  }

  @function str-remove-redundant-spaces($str) {
	@while (str-index($str, '\0020\0020') != null) {
	  $str: str-replace($str, '\0020\0020', '\0020');
	}

	@return $str;
  }

  @function svg-inline($str){
	$str: str-trim($str);
	$str: str-remove-redundant-spaces($str);
	$str: str-replace($str,'> <', '><'); // remove space between tags

	$str: str-replace($str, '"', "'"); // to enable pasting generated SVGs with double quote marks
	$str: str-replace($str, "<svg", "<svg xmlns='http://www.w3.org/2000/svg'");
	$str: str-replace($str,'%', '%25');
	$str: str-replace($str,'#', '%23'); // to fix of the original code for FF
	$str: str-replace($str, '{', '%7B');
	$str: str-replace($str, '}', '%7D');
	// $str: str-replace($str,'"', '%22');
	// $str: str-replace($str,"'", '%27');
	// $str: str-replace($str,' ', '%20');
	$str: str-replace($str,'<', '%3C');
	$str: str-replace($str,'>', '%3E');
	@return "data:image/svg+xml;charset=utf8," + $str;
  }
