@mixin type-h1 {
	font-size: 2.986em;
	font-weight: bold;
}
@mixin type-h2 {
	font-size: 2.488em;
	font-weight: bold;
}
@mixin type-h3 {
	font-size: 2.074em;
	font-weight: bold;
}
@mixin type-h4 {
	font-size: 1.728em;
	font-weight: bold;
}
@mixin type-h5 {
	font-size: 1.44em;
	font-weight: bold;
}
@mixin type-h6 {
	font-size: 1.2em;
	font-weight: bold;
}
@mixin type-perex {
	font-size: 1.2em;
	line-height: 1.4;
}
@mixin type-base {
	font-size: 1em;
}
@mixin type-pre {
  border: 1px solid $colorSecondaryLight;
  color: $colorSecondaryDark;
  background: lighten($colorSecondaryLight, 22%);
  padding: 2px 4px 2px;
  border-radius: 2px;
  display: block;
}
@mixin type-code {
  font-family: 'Inconsolata-g for Powerline', 'Menlo', 'Monaco', 'Courier New', monospace, monospace;
  border: 1px solid $colorSecondaryLight;
  color: $colorSecondaryDark;
  background: lighten($colorSecondaryLight, 22%);
  padding: 2px 4px 2px;
  border-radius: 2px;
  font-size: 14px;
}
@mixin sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
@mixin sub {
  vertical-align: baseline;
  position: relative;
  top: 0.4em;
}
@mixin custom-ol {
	padding-left: 0;
	counter-reset: my-badass-counter;

	> li {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-bottom: $spacingSm;

    &::before {
      // @include type-ol-counter;
      content: counters(my-badass-counter, '.');
      position: absolute;
      left: 0;
      top: 1px;
      counter-increment: my-badass-counter;
      font-weight: bold;
      padding-right: $spacingSm;
    }

    > ol {
      margin-top: $spacingSm;
      // border: 1px solid red;

      li {
        padding-left: 50px;

        ol li:last-child {
          padding-bottom: 0;
        }
      }
    }
  }

	// ol {

	// 		> li {
	// 				padding-left: ($spacing-l + $spacing-xxxxs);

	// 				ol {

	// 						> li {
	// 								padding-left: ($spacing-l + $spacing-xs);
	// 						}
	// 				}
	// 		}
	// }
}


@mixin wysiwyg {
  > :first-child {
    margin-top: 0;
  }

  // headings
  h1 {
		@include type-h1;
		margin-bottom: $spacingMd;
  }

  h2 {
    @include type-h2;
    margin-bottom: $spacingMd;
    margin-top: $spacingLg;
  }

  h3 {
    @include type-h3;
    margin-bottom: $spacingMd;
    margin-top: $spacingLg;
  }

  h4 {
    @include type-h4;
    margin-bottom: $spacingMd;
    margin-top: $spacingLg;
  }

  h5 {
    @include type-h5;
    margin-bottom: $spacingMd;
    margin-top: $spacingLg;
  }

  h6 {
    @include type-h6;
    margin-bottom: $spacingMd;
    margin-top: $spacingLg;
  }

  .docs-perex {
    @include type-perex;
	}

  // links
  a {
    color: $colorPrimary;
    font-weight: bold;
  }

  // paragraph and inline styles
  p {
    @include type-base;
    margin: 0 0 $spacingMd;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  sup {
    @include sup;
  }

  sub {
    @include sub;
  }

  // lists
  ul {
    > li {
      margin-bottom: $spacingSm;
    }
  }

  ol {
    @include custom-ol;
  }

  pre {
    @include type-pre;
  }
}
