// General variables
$colorText: #111;
$fontFamily: 'Proxima nova', Helvetica, arial, sans-serif;

// Common variables
$colorTextMuted: #999; // common color for disabled texts and labels
$colorTextInverse: #fff; // common color for texts and labels on dark background
$shadow: 0 0 2px rgba(0, 0, 0, 0.5); // common shadow

// Nav variables
$navWidth: 300px;

// Toggle variables
$toggleRadius: 4px;
$togglePaddingVertical: 0;
$togglePaddingHorizontal: 0;
$toggleWidth: 65px;
$toggleMinHeight: 34px;
$toggleButtonWidth: 30px;
$toggleButtonHeight: 30px;
$toggleButtonOffsetHorizontal: 2px;
$toggleButtonOffsetVertical: 2px;
$toggleButtonInactiveLabelXPos: -28px;
$toggleButtonInactiveLabelYPos: 9px;
$toggleButtonLabelSize: 12px;
$toggleButtonRadius: 4px;

// Spacings
$spacingSm: 15px;
$spacingMd: 30px;
$spacingLg: 45px;
$spacingXl: 90px;

$colorPrimary: #0001dc;
$colorPrimaryDark: darken(#0001dc, 15%);
$colorPrimaryLight: rgb(130, 193, 219);

$colorSecondary: #EF7D32;
$colorSecondaryDark: darken($colorSecondary, 15%);
$colorSecondaryLight: #F9C74F;

$colorLink: $colorPrimary;

$colorBorder: #ddd;

$colorSuccess: rgb(132, 161, 28);
$colorError: rgb(161, 28, 28);
$colorErrorDark: darken(rgb(161, 28, 28), 15%);


$mdUp: 'min-width: 750px';
$lgUp: 'min-width: 1000px';
$xlUp: 'min-width: 1200px';

// Theme variable map
$themes: (
	light: (
		navColor: #111,
		navBgColor: #fefefe,
		navBackgroundAlt: rgba(0, 0, 0, 0.03),
		navBorderColor: #ddd,
		toggleBgInactive: rgba(0, 0, 0, 0.05),
		toggleBgActive: $colorPrimary,
		toggleButtonBg: #fff,
		toggleButtonInactiveLabelColor: #464646,
		background: #fff,
		backgroundAlt: rgba(0, 0, 0, 0.03),
	),
	dark: (
		navColor: #fff,
		navBgColor: #222,
		navBackgroundAlt: rgba(255, 255, 255, 0.06),
		navBorderColor: rgb(89, 89, 89),
		toggleBgInactive: rgba(255, 255, 255, 0.06),
		toggleBgActive: #1f961f,
		toggleButtonBg: rgb(165, 165, 165),
		toggleButtonInactiveLabelColor: #9a9a9a,
		background: #222,
		backgroundAlt: rgba(255, 255, 255, 0.06),
	),
	sk: (
		navColor: #111,
		navBgColor: linear-gradient(135deg, #78ffe0 0%, #9b26b6 100%),
		navBackgroundAlt: rgba(0, 0, 0, 0.1),
		navBorderColor: rgba(0, 0, 0, 0.2),
		toggleBgInactive: rgba(255, 255, 255, 0.2),
		toggleBgActive: #31ad31,
		toggleButtonBg: rgba(255, 255, 255, 1),
		toggleButtonInactiveLabelColor: rgba(0, 0, 0, 0.6),
	)
);
