html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: $fontFamily;
	overflow-x: hidden; // prevent overflowing e.g. .docs-user-content in /code-guidelines/ page

	p, li {
		line-height: 1.4;
	}
}
