<nav role="navigation" class="nav">
		<div class="nav__bg">&nbsp;</div>
		{% if config.logoPath %}
				<a href="./" class="nav__logo">
						<img src="../{{ config.logoPath }}" class="nav__logo-img" alt="Logo">
				</a>
		{% else %}
				<a href="./" class="nav__logo">
						<img src="https://www.logoground.com/uploads/2018184782018-06-112864231Tech_kitten_mdes1gn-01-01.jpg" class="nav__logo-img" alt="">
				</a>
		{% endif %}
		<div class="toggle__wrapper">
				{% if config.settings.pinNav %}
						{% set toggle = {
				'ariaLabel': 'Připíchnout navigaci',
				'label': 'Připíchnout navigaci',
				'class': 'js-toggle-pin-nav'
			} %}
						{% include './toggle.njk' %}
				{% endif %}

				{% if config.settings.gridView %}
						{% set toggle = {
				'ariaLabel': 'Zapni/vypni grid vrstvu',
				'label': 'Grid vrstva',
				'class': 'js-toggle-grid-view'
			} %}
						{% include './toggle.njk' %}
				{% endif %}

				{% if config.settings.debugView %}
						{% set toggle = {
				'ariaLabel': 'Zapni/vypni debug mód',
				'label': 'Debug mód',
				'class': 'js-toggle-debug-view'
			} %}
						{% include './toggle.njk' %}
				{% endif %}

				{% if config.settings.themeSwitch %}
						{% set toggle = {
				'ariaLabel': 'Přepni téma',
				'label': 'Přepínač téma',
				'class': 'js-toggle-theme-switch'
			} %}
						{% include './toggle.njk' %}
				{% endif %}
		</div>

		<ul class="nav__list js-nav-iframe {% if config.settings.arrowNav %}js-nav-keyboard{% endif %}">
				<li>
						<a href="./about-styleguide.html">Úvod</a>
				</li>
				{% if config.docs.codeGuidelines %}
						<li>
								<a href="./code-guidelines.html">Code Guidelines</a>
						</li>
				{% endif %}
				{% if config.settings.iconList or config.docs.icons %}
						<li>
								<a href="./icons.html">Ikony</a>
						</li>
				{% endif %}
				{% if config.projectMetaComponents %}
				<li class="js-nav-accordion nav-accordion">
						<p class="js-nav-accordion__toggle nav-accordion__toggle">Meta komponenty</p>
						<ul class="js-nav-accordion__content nav-accordion__content">
								{% for item in config.projectMetaComponents %}
										<li>
												<a href="{{ relativeMetaComponentsDest }}{{ item }}">{{ item }}</a>
										</li>
								{% endfor %}
						</ul>
				</li>
				{% endif %}
				{% if config.componentsFolder %}
						<li class="js-nav-accordion nav-accordion is-active">
								<p class="js-nav-accordion__toggle nav-accordion__toggle">Komponenty</p>
								<ul class="js-nav-accordion__content nav-accordion__content">
										{% for item in config.componentObjectList %}
												{% if item %}
														<li class="js-nav-accordion nav-accordion">
																<p class="js-nav-accordion__toggle nav-accordion__toggle">{{ item.name }}</p>
																<ul class="js-nav-accordion__content nav-accordion__content">
																		{% for item in item.array %}
																				<li>
																						<a href="../componentsDocs/{{ item.title }}-docs.html">{{ item.title }}</a>
																				</li>
																		{% endfor %}
																</ul>
														</li>
												{% endif %}
										{% endfor %}
								</ul>
						</li>
				{% endif %}
				<li class="js-nav-accordion nav-accordion">
						<p class="js-nav-accordion__toggle nav-accordion__toggle">Šablony</p>
						<ul class="js-nav-accordion__content nav-accordion__content">
								{% for item in config.projectFiles %}
										<li>
												<a href="{{ relativeDest }}{{ item }}">{{ item }}</a>
										</li>
								{% endfor %}
						</ul>
				</li>
				{% if config.docs.changelog %}
						<li>
								<a href="./changelog.html">Changelog</a>
						</li>
				{% endif %}
		</ul>
</nav>
<div class="nav__sk-logo-wrapper">
		<div class="nav__sk-logo">&nbsp;</div>
</div>
