<div class="toggle">
	<label class="toggle__label">
		{{ toggle.label }}
		<input type="checkbox" class="toggle__checkbox {{ toggle.class }}">
	</label>

	<button
		type="button"
		data-action="aria-switch"
		aria-label="{{ toggle.ariaLabel }}"
		aria-checked="false"
		role="switch"
		class="toggle__button {{ toggle.class }}"
	>
		<span>{{ toggle.label }}</span>
	</button>
</div>
